.loader {
    position: relative;
    justify-content: center;
    margin-top: 25%; 
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid lightgrey;
    border-top: 16px solid #f96d00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rorate(0deg); }
    100% { transform: rotate(360deg); }
}